<div>
    <h2 class="text-center">Members</h2>
    <table class="center data-table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Registration date</th>
        </tr>
        <tr *ngFor="let member of members, index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.registrationDate | date: 'dd.MM.yyyy' }}</td>
        </tr>
        <ng-container *ngIf="members.length === 0">
            <tr>
                <td colspan="4" class="text-center">No members yet.</td>
            </tr>
        </ng-container>
    </table>
</div>